/********* Fonts **********/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}

/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0 auto;
	padding: 0;
	max-width: 1000px;
	width: 1000px;
}

p {
	margin: 8px 0 0 0;
}

#pieChart {
	margin-top: -100px;
}

.container p {
	text-align: center;
	padding: 0;
}

.jumbotron {
	padding: 20px 60px 20px 60px;
}

/****** Header Styling ******/

.nav-sign-out {
	padding: 10px;
	min-width: 300px;
}







